@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "ABCCamera";
  src: url("@/assets/fonts/ABCCameraRounded-Regular.woff2") format("woff2");
}

:root {
  --color-base: #f8f4ef;
  --color-bouldern: #f3e5c7;
  --color-geniessen: #ffe48d;
  --color-neu-hier: #b4dfdf;
  --color-spielen: #d2a7ff;
  --color-text: #000;
  --color-trainieren: #ffb491;
  --appbar-height: 72px;

  --font-size-h1: 90px;
  --font-size-h2: 45px;
  --font-size-h3: 30px;
  --font-size-h4: 24px;

  --font-size-p: 18px;

  --font-size-small: 12px;

  --border-size-thick: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
}

body {
  background: var(--color-base);
}

a {
  color: var(--color-text);
}

h1,
h2 {
  font-family: "ABCCamera", sans-serif;
  font-weight: 100;
  border-bottom: 1px solid var(--color-text);
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: var(--font-size-h1);
  margin-top: var(--font-size-h1);
  margin-bottom: calc(var(--font-size-h1) / 2);
  padding-bottom: calc(var(--font-size-h1) / 2);
}

h2 {
  font-size: var(--font-size-h2);
  margin-top: var(--font-size-h2);
  margin-bottom: calc(var(--font-size-h2) / 2);
  padding-bottom: calc(var(--font-size-h2) / 2);
}

h3,
h4,
h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 100;
}

h3 {
  font-size: var(--font-size-h3);
  margin-top: var(--font-size-h3);
  margin-bottom: calc(var(--font-size-h3) / 2);
}

h4 {
  font-size: var(--font-size-h4);
  margin-top: var(--font-size-h4);
  margin-bottom: calc(var(--font-size-h4) / 2);
}

p {
  margin-top: var(--font-size-p);
  margin-bottom: var(--font-size-p);
}

hr {
  border: 1px solid #000;
  border-style: solid none none;
}

section {
  border: 1px solid #000;
  border-style: solid none;
  padding-bottom: var(--font-size-h2);
}

section + section {
  border-top: none;
}

address {
  font-style: normal;
}

ul,
ul > li {
  list-style: none;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

dt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

dd {
  text-align: left;
}

button,
a.button {
  border: 1px solid #000;
  display: inline-block;
  text-decoration: none;
  line-height: 72px;
  width: 360px;
  height: 72px;
  color: var(--color-text);
}

button,
a.button::after {
  content: "→";
}

a.internal {
  border: 1px solid var(--color-text);
  border-style: solid none none;
  display: inline-block;
  text-decoration: none;
  line-height: 72px;
  width: 360px;
  height: 72px;
  color: var(--color-text);
}

a.internal::after {
  content: "↓";
}

a.button:hover,
a.internal:hover {
  border-top: 4px solid var(--color-text);
  line-height: 60px;
}

a.button:active,
a.internal:active {
  color: var(--color-base);
  background: var(--color-text);
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  white-space: nowrap;
}

table caption {
  caption-side: bottom;
  font-size: var(--font-size-small);
}

main > p,
main > section > * {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

main > h1 + p {
  margin-bottom: calc(var(--font-size-h1) / 2);
}
