@media (min-width: 992px) {
  body {
    margin: 0 auto;
  }

  div#app {
    padding: var(--appbar-height) 0 0;
  }

  h1,
  h2 {
    max-width: 900px;
  }

  p {
    margin-top: var(--font-size-p);
    margin-bottom: var(--font-size-p);
  }

  main > figure,
  main > p,
  main > table,
  main > section > * {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
