@import url("https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "ABCCamera";
  src: url("@/assets/fonts/ABCCameraRounded-Regular.woff2") format("woff2");
}

:root {
  --color-base: #f8f4ef;
  --color-bouldern: #f3e5c7;
  --color-geniessen: #ffe48d;
  --color-neu-hier: #b4dfdf;
  --color-spielen: #d2a7ff;
  --color-text: #000;
  --color-trainieren: #ffb491;
  --appbar-height: 72px;

  --logo-width: 200px;
  --logo-height: 80px;

  --font-size-h1-desktop: 90pt;
  --font-size-h2-desktop: 45pt;

  --font-size-h1-tablet: 48pt;

  --font-size-h1-mobile: 45pt;
  --font-size-h2-mobile: 30pt;

  --font-size-text-big: 24pt;
  --font-size-text: 18pt;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-text);
  font-family: "Manrope", sans-serif;
  font-weight: 300;
}

body {
  background: var(--color-base);
}

h1,
h2,
h3,
h4 {
  font-family: "ABCCamera", sans-serif;
  font-weight: 100;
}
