:root {
  --color-base: #f8f4ef;
  --color-neu-hier: #b4dfdf;
  --color-bouldern: #f3e5c7;
  --color-spielen: #d2a7ff;
  --color-trainieren: #ffb491;
  --color-geniessen: #ffe48d;
  --appbar-height: 72px;

  --logo-width: 200px;
  --logo-height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18pt;
  font-family: sans-serif;
}

body {
  background: var(--color-base);
}
