@media (max-width: 767px) {
  div#app {
    padding: 0 0 var(--appbar-height);
  }

  h1 {
    font-size: clamp(
      var(--font-size-text-big),
      calc(5vw / 64),
      var(--font-size-h1-mobile)
    );
  }

  h2 {
    font-size: var(--font-size-h2-mobile);
  }
}
