@media (min-width: 768px) and (max-width: 991px) {
  div#app {
    padding: var(--appbar-height) 0 0;
  }

  h1 {
    font-size: clamp(
      var(--font-size-h1-tablet),
      calc(100vw / 12),
      var(--font-size-h1-desktop)
    );
  }

  h2 {
    font-size: var(--font-size-h2-desktop);
  }
}
