@media (min-width: 768px) and (max-width: 991px) {
  div#app {
    padding: var(--appbar-height) 0 0;
  }

  h1 {
    font-size: clamp(
      var(--font-size-h1-tablet),
      calc(25vw / 3),
      var(--font-size-h1-desktop)
    );
    margin-top: clamp(
      var(--font-size-h1-tablet),
      calc(25vw / 3),
      var(--font-size-h1-desktop)
    );
    margin-bottom: clamp(
      calc(var(--font-size-h1-tablet) / 2),
      calc(25vw / 6),
      calc(var(--font-size-h1-desktop) / 2)
    );
  }

  h2 {
    font-size: var(--font-size-h2-desktop);
  }

  section {
    padding: var(--vertical-spacing-tablet) var(--horizontal-spacing-tablet);
  }
}
